/*common*/
body{
  font-size: 16px;
  color: rgb(68, 68, 68);
  font-family: 微軟正黑體, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsive-menu {
  display: none;
}
header hr {
  margin: 0 0 10px 0;
  border: 0;
  height: 5px;
  background: linear-gradient(to bottom, #DEDEDE 40%, #FFF 100%);
}
header .lang-selector {
  position: absolute;
  right: 15px;
  top: 20px;
  padding: 0;
  margin: 0;
}

header .lang-selector a {
  padding: 0 10px;
}

header ul.lang-selector li {
  list-style: none;
  float: left;
}
header ul.lang-selector li {
  border-right: 1px solid #333;
}
header ul.lang-selector li:last-child {
  border: 0;
}

h1, h2, h3, h4, h5, sup {
  font-family: 微軟正黑體, Helvetica, sans-serif;
}
h1 {
  font-weight: bold;
  font-family: 微軟正黑體, Helvetica, sans-serif;
}
hr {
  margin: 4px 10px;
  border: 1px dashed #999999;
}
.clear {
  clear: both;
}
.clearAfter:after {
  content: '';
  display: block;
  clear: both;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1200px;
}
.topnav {
  height: 100px;
  width: 100%;
  position: relative;
  z-index:2;
  background-color: rgba(255,255,255,0.8);
  top: 0px;
  left: 0px;
  background-image: url(../img/header.png);
  background-position: bottom;
}
.topnav .logo {
  background-image: url(../img/logo2.png);
  height: 100px;
  width: 380px;
  background-size: 350px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
.topnav .menu {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 0px;
}
.left-content {
float: left;
width: 30%;
}
.left-content .content{
  margin: 10px 26px;
}
.left-content .content img{
  width: 32%;
}
.left-content .button-link{
  margin-right: 50px;
}
.right-content {
float: left;
width: 70%;
}
a, a:visited, a:link {
  text-decoration: none;
  color: #333333;
}

.diamond-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.diamond {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #cee6fb;
  position: relative;
  margin: 4px;
  float: left;
  top: -8px;
}
.diamond:after {
  content: '';
  position: absolute;
  left: -10px;
  top: 10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #cee6fb;
}
.diamond-selected {
  border-bottom-color: #4f9ddc;
}
.diamond-selected:after {
  border-top-color: #4f9ddc;
}
a:hover, .topnav .menu .selected  {
  text-decoration: underline;
  font-weight: bold;
}
.topnav .menu li:hover, .topnav .menu .selected  {
  text-decoration: none;
  color: #FFF;
  border-radius: 5px 5px 0 0;
  background: rgba(212,228,239,1);
  background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, #4080ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=0 );
}
.topnav .menu .selected {
  padding: 15px 25px;
}
.topnav .menu li {
  float: left;
  list-style-type: none;
  border-left: 1px solid #d9d9d9;
  text-align: center;
  position: relative;
}
.topnav .menu li a {
  padding: 15px 25px;
  display: block;
}
.topnav .menu .selected a {
  padding: 0;
  color: #FFF;
}
.topnav .menu li sup{
  font-weight: bold;
  color: #111111;
  position: absolute;
  top: 0;
  vertical-align: top;
  right: 3px;
  color: #FF0000;
}
.fb-plugin {
  float: left;
  padding: 20px 0px 0px 20px;
}
footer .detail-information {
  float: right;
  text-align: left;
  padding: 10px 70px 10px 50px;
}
footer .detail-information h2 {
    padding: 0;
    margin: 10px 0;
}
.company-infomation-cover {
  padding: 10px;
  text-align: center;
  position: relative;
  background-color: rgba(236, 244, 255, 0.8);
}
.copyright {
  padding: 20px 30px 0 30px;
}
footer {
  background-image: url(../img/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-align: center;
}
/*index.html*/
.slideshow {
  list-style: none;
  z-index: 1;
  height: 600px;
  margin: 0;
  position: relative;
}
.slideshowHolder {
    padding-bottom: 15px;
    max-width: 980px;
    width: 100%;
}
.slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: imageAnimation 16s linear infinite 0s;
  -moz-animation: imageAnimation 16s linear infinite 0s;
  animation: imageAnimation 16s linear infinite 0s;
}

.slideshow li:nth-child(1) span {
  background-image: url(../img/slide_1.jpg);
}

.slideshow li:nth-child(2) span {
  background-image: url(../img/slide_2.jpg);
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

.slideshow li:nth-child(3) span {
  background-image: url(../img/slide_3.jpg);
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
}

.slideshow li:nth-child(4) span {
  background-image: url(../img/slide_4.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  animation-delay: 12s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.no-cssanimations .slideshow li span {
  opacity: 1;
}
.product-menu {
  padding-bottom: 15px;
}
.product-menu.mwis, .product-menu.mwis .product-type  {
  margin: 0;
  padding-bottom: 0;
}
.product-menu.mwis .product-type  {
  height: 200px;
}
.product-menu, .range-menu {
  position: relative;
  margin: 15px 0;
}
.product-menu {
  padding-bottom: 15px;
}
.range-menu {
  padding-bottom: 0px;
  margin: 0;
}
.index-container .product-menu h3, .range-menu h3, .contact-us-form h3 {
  background: #4f9ddcaa;
  background: linear-gradient(to right, #4f9ddcaa 0%, #cee6fbaa 9%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ada4ad', endColorstr='#ffffff', GradientType=0 );

  padding: 15px 30px;
  margin: 5px 0;
  clear: both;
  font-size: 24px;
  color: #333333;
}
.product-container .product-menu h3 {
    border-bottom: 1px solid #999999;
    background-color: #FFFFFF;
    margin: 10px 130px 10px 30px;
    padding-bottom: 10px;
  clear: both;
  font-size: 24px;
  color: #333333;
}
.range-menu h3 {
  margin: 0;
  text-align: center;
}
.product-menu.upside-down h3, .range-menu.upside-down h3, .contact-us-form.upside-down h3 {
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 48%, rgb(220, 236, 255) 79%, #4f9ddcaa 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(18%, rgba(252,252,252,1)), color-stop(79%, rgba(240,240,240,1)), color-stop(100%, #4f9ddcaa));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 48%, rgb(220, 236, 255) 79%, #4f9ddcaa 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 48%, rgb(220, 236, 255) 79%, #4f9ddcaa 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 48%, rgb(220, 236, 255) 79%, #4f9ddcaa 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 48%, rgb(220, 236, 255) 79%, #4f9ddcaa 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ada4ad', GradientType=0 );
font-size: 20px;

  padding: 15px 15px;
}
.product-type {
  width: 31.3%;
  margin: 0 1%;
  float: left;
  height: 250px;
  background-size: 100%;
  background-position: center;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.upside-down .product-type {
  width: 18%;
  margin: 0 1% 10px 1%;
  height: 150px;
}
.product-type.four {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}
.product-container .product-type.four {
  width: 18%;
}
.index-container .product-container .product-type {
  height: 150px;
}
.index-container .product-photo {
  height: 100%;
}
.product-container .product-type {
  margin: 1%;
  height: 200px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 7px #ccc;
  padding: 10px 20px;
  border-radius: 10px;
}
.product-photo {
  width: 100%;
  height: calc(100% - 28px);
  margin-bottom: 4px;
  box-shadow: 2px 2px 7px #666666;
  border: 1px solid #CCC;
  background-size: cover;
}
.product-type.two {
  width: 48%;
  height: 250px;
  margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a .product-type:hover {
  font-weight: normal;
}
.product-title {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 20px;
}
.index-product-menu .product-title {
  
}
.bd-information-menu .product-title {
  position: absolute;
  bottom: 0;
  color: #FFF;
  font-size: 24px;
  background: linear-gradient(to bottom, rgb(114, 169, 208) 0%, #7f99ce 100%);
}
.product-menu a, .product-menu a:visited, .product-menu a:link {
  text-decoration: none;
}
#product-type-window{
  background-image: url(../img/window_1.jpg);
}
#product-type-door{
  background-image: url(../img/door_1.jpg);
}
#product-type-glass{
  background-image: url(../img/glass_1.jpg);
}
#product-type-composite{
  background-image: url(../img/composite_1.jpg);
}
#product-type-deco{
  background-image: url(../img/deco_1.jpg);
}
#product-type-indeco{
  background-image: url(../img/indeco_1.jpg);
}
.bd-information-menu .product-type {
  background-position: top;
}
.bd-information-menu a:nth-child(1) .product-type{
  background-image: url(../img/poster1.jpg);
}
.bd-information-menu a:nth-child(2) .product-type{
  background-image: url(../img/poster2.jpg);
}
.bd-information-menu a:nth-child(3) .product-type{
  background-image: url(../img/poster3.jpg);
}
.bd-information-menu a:nth-child(4) .product-type{
  background-image: url(../img/poster4.jpg);
}
.bd-information-menu a:nth-child(5) .product-type{
  background-image: url(../img/poster5.jpg);
}
.bd-information-menu a:nth-child(6) .product-type{
  background-image: url(../img/poster6.jpg);
}
.bd-information-menu a:nth-child(7) .product-type{
  background-image: url(../img/poster7.jpg);
}
.bd-information-menu a:nth-child(8) .product-type{
  background-image: url(../img/poster8.jpg);
}
.product-menu.mwis .product-type:nth-child(1) {
  background-image: url(../img/mwis1.jpg);
}
.product-menu.mwis .product-type:nth-child(2) {
  background-image: url(../img/mwis2.jpg);
}
.product-menu.mwis .product-type:nth-child(3) {
  background-image: url(../img/mwis3.jpg);
}
.product-menu.mwis .product-type:nth-child(4) {
  background-image: url(../img/mwis4.jpg);
}
.product-menu.mwis .product-type:hover {
  opacity: 1;
  background-size: 100%;
}
.range-menu {
  background-image: url(../img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 10%;
}
.range-menu-cover {
  background-color: rgba(228, 239, 255, 0.8)
}
.range-menu h3 {
  /* background-color: rgba(44,44,44,0.95); */
}
.range-menu ul {
  padding: 10px;
  margin: 0;
}
.range-menu ul li {
  float: left;
  padding-top: 5px;
  width: 25%;
  list-style: none;
  text-align: center;
}
.about-company {
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.about-company-cover {
  text-align: center;
  position: relative;
  padding: 50px;
  background-color: rgba(255,255,255, 0.8);
}
a.button-link, .button-link {
  padding: 10px;
  width: 200px;
  text-align: center;
  display: block;
  margin: 25px;
  background-color: #4f9ddc;
  color: #FEFEFE;
  float: right;
  border-radius: 3px;
}
.map {
  margin-bottom: -6px;
}
/*about.html*/
.welcome-text {
  background-color: #FAFAFA;
  margin: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.welcome-text .element, .shop .element{
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
.welcome-text .photo{
  background-image: url(../img/slide_1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.welcome-text.mwis {
  min-height: 400px;
}
.welcome-text.mwis .photo{
  background-image: url(../img/mwis.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.welcome-text .intro{
  padding: 20px;
}
.welcome-text p, .welcome-text h1 {
  margin: 0;
  padding: 8px;
}
.shop {
  width: 100%;
  height: 300px;
  display: table;
  table-layout: fixed;
}
.shop .description {
  background-image: url(../img/company-1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.shop .description.description2 {
  background-image: url(../img/company-2.jpg);
}
.shop .description.description3 {
  background-image: url(../img/company-3.jpg);
}
.shop .description.description4 {
  background-image: url(../img/company-4.jpg);
}
.shop .description .cover {
  color: #333;
  height: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.shop .description .cover .content{
  background-color: rgba(255,255,255, 0.8);
}
.shop .description .cover .content div{
  padding-top: 3px;
}
.gallery figure {
  padding: 0;
  margin: 1%;
  width: 23%;
  height: 200px;
  position: relative;
  float: left;
  overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gallery figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gallery figcaption {
    text-align: center;
}
.pswp__bg {
  background-color: rgba(22,22,22,0.85);
}
.contact-us .intro div {
    padding: 3px 0px 0 10px;
}
.contact-us-form {
  background-color: #FAFAFA;
  width: 100%;
}
.contact-us-form>div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-form form {
  width: 70%;
  padding: 30px;
}
.contact-us-form form div {
    padding: 10px;
}
.contact-us-form form .input {
  width: 100%;
  margin: 5px 0;
  line-height: 18px;
  font-size: 18px;
}
.contact-us-form form .button-row{
  text-align: center;
}
.contact-us-form form button {
  padding: 10px;
  border: 0;
  width: 200px;
  /* float: left; */
  text-align: center;
  display: inline-block;
  background-color: #4f9ddc;
  color: #FEFEFE;
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .slideshow li h3 {
    bottom: 30px;
    font-size: 8.125em;
  }
}
@media only screen and (min-width: 1024px) {
  .slideshow li h3 {
    font-size: 10.9375em;
  }
}


@media only screen and (max-width: 1200px) {
  .topnav .menu .selected {
    padding: 15px 15px;
  }
  .topnav .menu li a {
    padding: 15px 15px;
  }
}
@media only screen and (max-width: 1000px) {
  .topnav .menu {
    display: none;
    position: absolute;
    top: 100%;
    margin: 0;
    width: 100%;
    background-color: rgba(255,255,255,1);
    border: 1px solid #EEE;
  }
  .topnav .menu li sup {
    display: inline-block;
    position: static;
  }
  .topnav .menu.show {
    display: block;
  }
  .topnav .menu li {
    float: none;
    background-color: rgba(255, 255, 255, 0.95);
    border: 2px solid #EEE;
  }
  .topnav .menu li a {
    padding: 15px 3px;
    display: inline-block;
  }
  .responsive-menu {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 0px;
  }
  .responsive-menu button {
    background-color: rgba(255,255,255,0);
    border: none;
    box-shadow: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 24px;
    color: #555;
  }
  .responsive-menu .cross {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .left-content, .right-content, footer .detail-information, .fb-plugin {
    width: 100%;
    float: none;
  }
  .range-menu ul li {
    width: 50%;
  }
  .product-container .product-type.four {
    width: 50%;
  }
  .product-type.four {
    width: 50%;
  }
  .product-type.two {
    width: 95%;
  }
}
@media only screen and (max-width: 500px) {
  header .lang-selector {
    right: 0;
    top: 10px;
  }
  .slideshow {
    height: 300px;
  }
  .product-type, .range-menu ul li, .product-type, .upside-down .product-type {
    width: inherit;
    float: none;
    margin: 10px;
  }
  .shop-map .shop {
    display: flex;
    flex-direction: column;
    width:auto;
    height: auto;
    padding: 0;
  }
  .shop-map .shop:nth-child(even) {
    flex-direction: column-reverse;
  }
  .shop-map .shop .element {
    padding: 0;
  }
  .welcome-text .element, .shop .element {
    display: block;
    padding: 5px 10px;
    width: auto;
  }
  .welcome-text .photo {
    display: none;
  }
  .product-type.four {
    width: 100%;
  }
  .product-container .product-type.four {
    width: 70%;
    margin-left: 5%;
  }
  footer .detail-information {
    padding: 5px;
  }
}